In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./s1_data_hw.csv", encoding="utf-8-sig")
df

,Date,SXXP Index,SPY US INDEX,NKY INDEX,XAU CURNCY,CL1 COMDTY,SPDIV,RF,DFEDTARU
0,12/31/08,276.76878,90.24,98.07993,875.43,44.60,28.390000,2.87,0.25
1,1/30/09,245.27160,82.83,88.89192,927.85,41.68,28.013333,3.02,0.25
2,2/27/09,219.88507,73.93,77.26031,942.32,44.76,27.636667,2.71,0.25
3,3/31/09,233.43893,79.52,81.62587,919.90,49.66,27.260000,3.16,0.25
4,4/30/09,264.48381,87.42,89.27354,887.95,51.12,26.703333,3.47,0.25
...,...,...,...,...,...,...,...,...,...
200,8/29/25,643.77383,645.05,290.77987,3447.95,64.01,78.103333,4.16,4.25
201,9/30/25,656.25223,666.18,304.13314,3846.09,62.37,78.480000,4.11,4.00
202,10/31/25,659.04604,682.06,340.11252,4002.92,60.98,78.626720,4.02,4.00
203,11/28/25,668.83173,683.39,321.70738,4239.43,58.55,78.773440,4.18,3.75
204,12/31/25,694.99418,681.92,321.98721,4322.02,57.42,78.920160,4.26,3.75