In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./s1_data_hw.csv", encoding="utf-8-sig")
df

,Date,SXXP Index,SPY US INDEX,NKY INDEX,XAU CURNCY,CL1 COMDTY,SPDIV,RF,DFEDTARU
0,12/31/08,276.76878,90.24,98.07993,875.43,44.60,28.390000,2.87,0.25
1,1/30/09,245.27160,82.83,88.89192,927.85,41.68,28.013333,3.02,0.25
2,2/27/09,219.88507,73.93,77.26031,942.32,44.76,27.636667,2.71,0.25
3,3/31/09,233.43893,79.52,81.62587,919.90,49.66,27.260000,3.16,0.25
4,4/30/09,264.48381,87.42,89.27354,887.95,51.12,26.703333,3.47,0.25
...,...,...,...,...,...,...,...,...,...
200,8/29/25,643.77383,645.05,290.77987,3447.95,64.01,78.103333,4.16,4.25
201,9/30/25,656.25223,666.18,304.13314,3846.09,62.37,78.480000,4.11,4.00
202,10/31/25,659.04604,682.06,340.11252,4002.92,60.98,78.626720,4.02,4.00
203,11/28/25,668.83173,683.39,321.70738,4239.43,58.55,78.773440,4.18,3.75
204,12/31/25,694.99418,681.92,321.98721,4322.02,57.42,78.920160,4.26,3.75

In [5]:
from homework01 import monthly_log_return

In [6]:
monthly_returns, df_adjusted = monthly_log_return(df)

Mean monthly log return STOXX600: 0.0063
Mean monthly log return NIKKEI: 0.0034

In [10]:
monthly_returns.head()

,Date,RF_monthly,SP500_monthly_log_return,STOXX600_monthly_log_return,NIKKEI_monthly_log_return,GOLD_monthly_log_return,WTI_monthly_log_return
0,2021-02-26,0.001450,0.0274,0.0185,0.0276,-0.0635,0.1640
1,2021-03-31,0.001375,0.0411,0.0313,-0.0291,-0.0128,-0.0388
2,2021-04-30,0.001317,0.0516,0.0413,-0.0007,0.0328,0.0721
3,2021-05-31,0.001208,0.0065,0.0378,0.0000,0.0749,0.0422
4,2021-06-30,0.001033,0.0189,-0.0180,-0.0170,-0.0731,0.1024

In [12]:
df_adjusted.head()

,Date,SXXP Index,SPY US INDEX,NKY INDEX,XAU CURNCY,CL1 COMDTY,SPDIV,RF,DFEDTARU,RF_monthly,SP500_monthly_log_return,STOXX600_monthly_log_return,NIKKEI_monthly_log_return,GOLD_monthly_log_return,WTI_monthly_log_return
145,2021-01-29,480.24522,370.07,264.21576,1847.65,52.20,58.063693,1.44,0.25,0.001200,NaN,NaN,NaN,NaN,NaN
146,2021-02-26,489.22792,380.36,271.59878,1734.04,61.50,57.848540,1.74,0.25,0.001450,0.0274,0.0185,0.0276,-0.0635,0.1640
147,2021-03-31,504.78000,396.33,263.79893,1712.02,59.16,57.633387,1.65,0.25,0.001375,0.0411,0.0313,-0.0291,-0.0128,-0.0388
148,2021-04-30,526.04895,417.30,263.61052,1769.13,63.58,57.710605,1.58,0.25,0.001317,0.0516,0.0413,-0.0007,0.0328,0.0721
149,2021-05-31,546.29813,420.04,263.61052,1906.75,66.32,57.787824,1.45,0.25,0.001208,0.0065,0.0378,0.0000,0.0749,0.0422